
.newslatter{
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    padding-bottom: 20px;

    .icone{
        position: absolute;
        right: 12%;
        width: 8%;
        top: 2px;
        transform: rotate(35deg);
    }

    label{
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
    }

    input{
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 8px;
            border: none;
            outline: none;
            background-color: #d2cfcf;
            padding-left: 20px;
            color: #a4007b;
            font-weight: bold;

                &::placeholder{
                    color: black;
                    font-weight: bold;
                }
    }
    
    button{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        background-color: #02a4ac;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;

            &:hover{
                background-color: #00585c;
                color: #ffea00;
            }
    }

}