@import './variaveis/colorPaint.scss';

//BEM -> BLOCO - ELEMENTO - MODIFICADOR

header{
  width: 100%;
  height: 12vh;
  background-color: #456778;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

main{
  width: 100%;
  height: calc(100vh - 13vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

