
.icones{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

        h1{
            font-size: 1rem;
            text-align: center;
            color: #555252;
        }

        .imagem{
            width: 45%;
            img{
                width: calc(100% / 5);
                margin: 0 10px;
            }

        }

}